$TEXT-COLOR: #232323
$WHITE: #FFFFFF
$YELLOW: #FED112
$GRAY: #3F4E5D
$GRAY-DARK: #364555
$GRAY-LIGHT: #5C6875
$FOOTER-BG: #2C3946
	
@font-face
	font-family: 'Roboto'
	src: url('fonts/Roboto-Regular.ttf') format('true-type')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'Roboto'
	src: url('fonts/Roboto-Medium.ttf') format('true-type')
	font-weight: 500
	font-style: normal
@font-face
	font-family: 'Roboto'
	src: url('fonts/Roboto-Bold.ttf') format('true-type')
	font-weight: 700
	font-style: normal
@font-face
	font-family: 'Montserrat'
	src: url('fonts/Montserrat-Regular') format('true-type')
	font-weight: 400
	font-style: normal
@font-face
	font-family: 'Montserrat'
	src: url('fonts/Montserrat-SemiBold') format('true-type')
	font-weight: 600
	font-style: normal
@font-face
	font-family: 'Montserrat'
	src: url('fonts/Montserrat-Bold') format('true-type')
	font-weight: 700
	font-style: normal
    
*
	font-family: 'Roboto', sans-serif 
	color: $TEXT-COLOR
	padding: 0
	margin: 0
	scrollbar-width: thin // Remove scrollbar in Firefox

// Add this to block with scroll (Work only on iOS devices)
    // -webkit-overflow-scrolling: touch

html
	overflow: scroll
	overflow-x: hidden

body
	-webkit-text-size-adjust: none

::-webkit-scrollbar // Remove scrollbar in Chrome and Safari
	width: 0
	background: transparent

.container
	width: 1540px
	margin: 0 auto

.clearfix
	clear: both

.content p
.content a
.content ul

h1,h2,h3,h4,h5,h6
	color: $GRAY-LIGHT
h1
	
h2
	font-size: 25px
	line-height: 33px
	font-weight: 400
	margin-top: 20px
	margin-bottom: 30px
h3

h4

h5

h6

.header
	&_top
		padding: 15px 0
		display: grid
		grid-template-columns: 1.4fr 0.7fr 0.7fr 1fr 1.1fr 1.8fr
		grid-column-gap: 10px
		align-items: center
	&_logo
		display: flex
		align-items: center
		&-img
			margin-right: 10px
		&-description
			font-size: 14px
			font-weight: 700
			line-height: 20px
			span
				text-transform: uppercase
	&_phone
		&-link
			display: block
			font-size: 14px
			font-weight: 700
			line-height: 20px
			text-decoration: none
			span
				font-weight: 400
		&-messengers
			a
				display: inline-block
				margin-right: 5px
				text-decoration: none
				img
					width: 100%
					height: 100%
					object-fit: contain
	&_worktime
		p
			font-size: 14px
			font-weight: 500
			line-height: 20px
	&_address
		font-size: 14px
		line-height: 20px
		img
			margin-left: 5px
			vertical-align: middle
	&_menu
		display: flex
		justify-content: space-between
		align-items: center
		&-item
			font-size: 16px
			font-weight: 500
			line-height: 20px
			text-decoration: none
			&-parent
				display: flex
				align-items: center
				position: relative
				img
					margin-left: 10px
			&:hover .header_submenu
				opacity: 1
				z-index: 1
				visibility: visible
	&_submenu
		box-shadow: 0 20px 20px rgba(0,0,0,0.1)
		background: $WHITE
		padding: 15px 0
		position: absolute
		left: 0
		top: 100%
		width: 100%
		z-index: -1
		opacity: 0
		visibility: hidden
		transition: opacity 0.5s ease-in-out
		&-item
			display: block
			font-size: 14px
			line-height: 35px
			text-align: center
			text-decoration: none
			transition: background 0.5s ease-in-out
			&:hover
				background-color: $YELLOW
	&_bottom
		background-color: $GRAY
		&-wrapper
			height: 50px
			display: grid
			grid-template-columns: 1fr 3fr 1.5fr
	&_catalog
		position: relative
		user-select: none
		cursor: pointer
		background-color: $GRAY-DARK
		display: flex
		justify-content: space-between
		align-items: center
		p
			color: $WHITE
			margin-right: auto
			font-family: 'Montserrat', sans-serif
			font-size: 16px
			font-weight: 600
			line-height: 22px
			text-transform: uppercase
		&-img
			margin: 0 10px
			transition: transform 0.5s ease-in-out
			transform: rotate(-90deg)
		.rotated
			transform: rotate(0deg)
		&-dropdown
			display: none
			position: absolute
			top: 100%
			left: 0
			width: 100%
			background-color: $WHITE
			box-shadow: 0 3px 3px rgba(0,0,0,0.1)
			&-item
				padding: 10px 0
				display: flex
				align-items: center
				position: relative
				transition: background 0.5s ease-in-out
				&:hover
					background-color: #F0F0F0
				&:hover .header_catalog-dropdown-child
					visibility: visible
					opacity: 1
					z-index: 1
			&-arrow
				position: absolute
				right: 15px
				top: calc(50% - 4.5px)
			&-image
				margin: 0 20px
				width: 25px
				height: 100%
				object-fit: contain
			&-title
				font-size: 13px
				font-weight: 700
				text-transform: uppercase
			&-child
				opacity: 0
				visibility: hidden
				position: absolute
				top: 0
				left: 100%
				width: -webkit-fit-content
				width: -moz-fit-content
				min-width: 280px
				background-color: $WHITE
				box-shadow: 10px 10px 20px rgba(0,0,0,0.2)
				transition: opacity 0.5s ease-in-out
	&_search
		background-color: $GRAY-LIGHT
		padding: 10px 25px
		display: flex
		justify-content: center
		align-items: center
		input
			-webkit-appearance: none
			-moz-appearance: none
			outline: none
			border: none
			width: 100%
			background-color: transparent
			border-bottom: 1px solid #A0A5AA
			color: $WHITE
			font-family: 'Montserrat', sans-serif
			font-size: 12px
			line-height: 22px
			margin-right: 10px
			&::placeholder
				text-transform: uppercase
				color: #A0A5AA
	&_btns
		display: flex
		justify-content: space-around
		align-items: center
		&-text
			margin-top: 5px
			color: $WHITE
			font-size: 8px
			text-align: center
			transition: color 0.5s ease-in-out
		svg
			display: block
			margin: 0 auto
			path
				transition: fill 0.5s ease-in-out
		&-count
			position: absolute
			right: -5px
			top: -3px
			width: 18px
			height: 18px
			background-color: $YELLOW
			transition: background 0.5s ease-in-out
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			font-size: 9px
			font-weight: 700
	&_user,
	&_favourites,
	&_compare,
	&_cart
		cursor: pointer
		position: relative
		&:hover .header_btns-text
			color: $YELLOW
		&:hover svg path
			fill: $YELLOW
		&:hover .header_btns-count
			background-color: $WHITE

.content-background
	background-color: #FAFAFA
	padding-bottom: 40px

.slider-main
	width: calc(100% - 300px)
	margin-left: auto
	margin-top: 20px
.slider-main-dots
	margin: 15px auto
	list-style: none
	display: flex
	justify-content: center
	align-items: center
	li
		cursor: pointer
		margin: 0 10px
		width: 65px
		height: 2px
		background-color: #D3D6D9
		transition: background 0.5s ease-in-out
		button
			opacity: 0
	li.slick-active
		background-color: $YELLOW

.slider
	transition: opacity 0.5s ease-in-out
	opacity: 0
	visibility: hidden
.slick-initialized
	opacity: 1
	visibility: visible
.slick-slide
	outline: none

.advantages
	width: calc(100% - 300px)
	margin-bottom: 20px
	margin-left: auto
	display: flex
	justify-content: space-between
	align-items: center
	&_item
		width: 15%
		display: flex
		align-items: center
	&-img
		max-width: 65px
		margin-right: 15px
	&-text
		font-size: 12px
		line-height: 16px
		font-weight: 500

.brands-slider-wrapper
	margin: 20px auto
	position: relative
	.brands-slider
		&-item
			cursor: pointer
			transition: background 0.5s ease-in-out
			min-height: 70px
			display: flex
			&:hover
				background-color: #CFCFCF
			img
				vertical-align: middle
				margin: 0 auto
				object-fit: contain
		&-prev,
		&-next
			position: absolute
			top: calc(50% - 15px)
			width: 30px
			height: 30px
			background-color: $GRAY
			transition: background 0.5s ease-in-out
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer
			&:hover
				background-color: $YELLOW
				svg
					path
						transition: fill 0.5s ease-in-out
						fill: #000
		&-prev
			left: 0
			svg
				transform: rotate(180deg)
		&-next
			right: 0

.button
	background-color: $YELLOW
	color: $TEXT-COLOR
	text-align: center
	border-radius: 150px
	text-decoration: none
	padding: 15px 40px
	font-size: 14px
	font-weight: 700
	line-height: 10px
	text-transform: uppercase
	height: 10px
	display: block
	transition: box-shadow 0.5s ease-in-out
	&:hover
		box-shadow: 0 0 6px rgba(0,0,0,0.3)

.products_header
	margin: 30px 0
	display: flex
	justify-content: space-between
	align-items: center
	&-title
		font-size: 25px
	&-link
		font-size: 13px

.products
	display: grid
	grid-template-columns: repeat(5, 1fr)
	grid-gap: 5px
	&_item
		background-color: $WHITE
		padding: 10px
		&-info
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			&-block
				cursor: pointer
				user-select: none
				padding: 5px
				display: flex
				align-items: center
				border-radius: 10px
				border-bottom-right-radius: 0
				border: 1px solid #E0E0E0
				background-color: $WHITE
				margin-bottom: 10px
				width: 65px
				height: 30px
				img
					margin-right: 5px
				p
					font-size: 9px
					font-weight: 700
					span
						font-size: 11px
				&-hover
					opacity: 0
					visibility: hidden
					transition: opacity 0.3s ease-in-out
					box-shadow: 0 0 6px rgba(0,0,0,0.2)
					width: calc(100% - 30px)
					height: auto
					padding: 10px
					position: absolute
					left: 5px
					top: 45px
					border: 1px solid $YELLOW
					background-color: $WHITE
					z-index: 1
					b
						font-size: 14px
						line-height: 18px
						font-weight: 700
						margin-bottom: 10px
					p
						font-size: 12px
						line-height: 18px
					a
						font-size: 12px
						line-height: 18px
				&:hover .products_item-info-block-hover
					opacity: 1
					visibility: visible
		&-btns
			position: absolute
			top: 0
			right: 0
			display: flex
			flex-direction: column
			z-index: 1
			svg
				margin: 5px 0
				path
					transition: fill 0.5s ease-in-out
				&:hover
					path
						fill: $YELLOW
		&-color
			position: absolute
			bottom: 0
			right: 0
			z-index: 1
			div
				cursor: pointer
				margin: 10px 0
				width: 14px
				height: 14px
				box-sizing: border-box
				transition: border 0.5s ease-in-out, border-radius 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out
			&-black
				background-color: #262523
			&-yellow
				background-color: $YELLOW
			&-orange
				background-color: #FE5212
			&-blue
				background-color: #12CDFE
			.selected
				border: 2px solid $YELLOW
				border-radius: 50%
				width: 14px
				height: 14px
		&-img
			position: relative
		&-code
			font-size: 11px
			line-height: 24px
			color: #A8A8A8
		&-title
			font-size: 16px
			font-weight: 500
			line-height: 24px
		&-cashback
			margin-top: 15px
			display: flex
			justify-content: center
			align-items: center
			img
				margin-right: 10px
			p
				font-size: 12px
				font-weight: 300
				line-height: 20px
				color: $GRAY-LIGHT
				span
					color: $GRAY-LIGHT
					font-size: 12px
					font-weight: 700
		&-price
			display: flex
			&-actual
				font-size: 24px
				font-weight: 700
			&-old
				display: flex
				align-items: center
				&-wrapper
					font-size: 14px
					font-weight: 500
					color: #838C97
					position: relative
					&::before
						content: ''
						width: 100%
						height: 1px
						background-color: #FF5514
						position: absolute
						left: 0
						top: 50%
				&-discount
					margin-left: 10px
					background-color: $YELLOW
					padding: 3px
					font-size: 12px
					font-weight: 500
					border-radius: 3px
			&-wrapper
				width: 50%

.main-articles
	margin: 50px 0
	display: grid
	grid-template-columns: repeat(5, 1fr)
	grid-gap: 5px
	&_item
		text-decoration: none
		img
			width: 100%
			max-height: 200px
			object-fit: contain
		&-link
			font-size: 13px
			line-height: 17px
			margin-top: 15px
		p
			font-size: 16px
			line-height: 24px
			position: relative
			padding-left: 35px
			&::before
				content: ''
				position: absolute
				left: 25px
				bottom: 0px
				width: 2px
				height: 90px
				background-color: $YELLOW

.slide-text
	color: $GRAY-LIGHT
	font-size: 14px
	line-height: 25px
	margin: 10px 0
	display: none
	&-wrapper
		position: relative
		p
			color: $GRAY-LIGHT
			font-size: 14px
			line-height: 25px
			width: 95%
	&-btn
		position: absolute
		top: 0
		right: 0
		display: flex
		flex-direction: column
		align-items: center
		cursor: pointer
		user-select: none
		p
			font-size: 11px
			line-height: 14px
			margin-top: 10px
			width: 100%
			text-align: center

.footer
	background-color: $FOOTER-BG
	&_top
		padding: 40px 0
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr
		grid-gap: 20px
		&-title
			color: $GRAY-LIGHT
			font-size: 18px
			line-height: 30px
			font-weight: 700
			text-transform: uppercase
			margin-bottom: 20px
		&-link
			display: block
			font-size: 13px
			line-height: 30px
			font-weight: 500
			color: #B9C6D2
			text-decoration: none
			transition: color 0.5s ease-in-out
			&:hover
				color: $YELLOW
		&-phone
			font-size: 14px
			line-height: 30px
			font-weight: 700
			color: #B9C6D2
			display: block
			text-decoration: none
			span
				font-size: 14px
				line-height: 30px
				font-weight: 400
				color: #B9C6D2
		&-time
			font-size: 12px
			line-height: 22px
			color: #B9C6D2
	&_social
		margin: 20px 0
		display: flex
		align-items: center
		a
			text-decoration: none
			margin-right: 20px
			svg
				path
				 	transition: fill 0.5s ease-in-out
			&:hover svg path
				fill: $YELLOW
	&_center
		background-color: $GRAY-DARK
		&-wrapper
			padding: 15px 0
			display: flex
			justify-content: space-between
		&-block
			display: flex
			align-items: center
			p
				text-transform: uppercase
				margin-right: 10px
				font-size: 12px
				font-weight: 700
				color: #B9C6D2
			img
				margin: 0 10px
	&_copyright
		&-wrapper
			padding: 20px 0
			display: flex
			justify-content: space-between
			align-items: center
			p
				color: $GRAY-LIGHT
				font-size: 12px
		&-dev
			display: flex
			p
				margin-right: 10px
			img
				object-fit: contain

#toTop
	z-index: 1
	width: 35px
	height: 35px
	border-radius: 50%
	background: $YELLOW
	padding: 10px
	position: fixed
	bottom: 30px
	right: 30px
	cursor: pointer
	display: none
	img
		width: 100%
		height: 100%
		object-fit: contain

@media screen and (max-width: 1600px)
	.container
		width: 1366px
@media screen and (max-width: 1440px)
	.container
		width: 1200px
	.products
		grid-template-columns: repeat(4, 1fr)
@media screen and (max-width: 1260px)
	.header_logo-description
		display: none
	.header_top
		grid-template-columns: 0.6fr 0.8fr 0.8fr 1fr 1.2fr 2fr
	.header_bottom-wrapper
		grid-template-columns: 1.1fr 2.3fr 1.1fr
	.advantages
		width: 100%
@media screen and (max-width: 1200px)
	.container
    	width: 90%
	.products
		grid-template-columns: repeat(3, 1fr)
@media screen and (max-width: 1060px)
	.slider-main
		width: 100%
	.header_menu
		display: none
	.header_top
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr
	.header_bottom-wrapper
		grid-template-columns: 1.1fr 1.5fr 1.1fr
	.footer_top-block:last-child
		display: none
	.footer_top
		grid-template-columns: 1fr 1fr 1fr 1fr
	.main-articles
		grid-gap: 20px
		grid-template-columns: repeat(4, 1fr)
@media screen and (max-width: 768px)
	.products
		grid-template-columns: repeat(2, 1fr)
	.advantages
		justify-content: center
		flex-wrap: wrap
		&_item
			width: 33%
			margin-bottom: 15px
	.main-articles
		grid-template-columns: repeat(3, 1fr)
	.slide-text-btn
		top: 75%
	.header_top
		grid-template-columns: 0.5fr 1fr 1fr 1.5fr 1fr
	.header_search
		display: none
	.header_bottom-wrapper
		grid-template-columns: 1fr 1fr
	.slide-text-btn
		position: relative
		margin-top: 20px
@media screen and (max-width: 425px)
	.header_top
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
	.header_address,
	.header_worktime
		margin-top: 20px
	.header_catalog
		display: none
	.header_bottom-wrapper
		grid-template-columns: 1fr
	.advantages
		&_item
			box-sizing: border-box
			width: 50%
			padding-right: 10px
	.products_header
		flex-direction: column
	.products
		grid-template-columns: 1fr
		grid-row-gap: 20px
	.main-articles
		grid-template-columns: 1fr
	.footer_top
		grid-template-columns: 1fr
		justify-items: center
		text-align: center
	.footer_center-wrapper
		flex-direction: column
	.footer_center-block
		flex-direction: column
		p, img
			margin-bottom: 15px
@media screen and (max-width: 400px)
	.header_phone
		width: 50%
		margin-top: 20px
	.header_address
		width: 100%
		text-align: center
@media screen and (max-width: 325px)
	.header_worktime
		width: 50%
		p
			font-size: 12px
	.advantages_item
		width: 100%
	.footer_copyright-wrapper
		flex-direction: column
	.footer_copyright-dev
		margin-top: 15px